body{
  /* made using patternico */
  background: url("../img/pattern_bkrd.png");
  font-family: Lato, sans-serif;
}

h1{
  /* bubble letters  */
  font-family: "Fredoka One", serif;
  font-size: 40px;
  margin: 10px;
}

header{
  display: flex;
  height: 250px;
  font-family: "Fredoka One", serif;
  font-size: 90px;
  color: white;
  align-items: center;
  justify-content: center;
}

header div {
  background-color: rgba(240,128,128, 0.5);
  padding: 40px;
  border-radius: 30px;
  text-align: center;
}

main{
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
}

/* puts the pieces in one column instead of three on small screens */

@media (max-width: 665px) {
  main{
    grid-template-columns: 1fr;
  }
  header{
    font-size: 60px;
  }
}

section{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  background-color: rgba(8,8,8,0.5);
  text-align: center;
}

#holy {
  background-color: rgba(8,8,8,0.5);
  width: 400px;
  height: 400px;
}

/* the flare behind the coffee mug */
#shine {
  animation: rotation 10s infinite linear;
  width: 400px;
  height: 400px;
}

/* because one flare wasn't enough and I already figured out how to stack pngs */
#counter_shine {
    animation: rotation 10s infinite linear;
    animation-direction: reverse;
    width: 100%;
    position: relative;
    top: -380px;
}

/* makes it spinny */

@keyframes rotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}

#cup {
    position: relative;
    bottom: 645px;
    left: 4px;
    transition: all .2s ease-in-out;
}

/* makes it big */
#cup:hover{
  transform: scale(1.4);
  cursor: pointer;
}

#cup:active{
  animation: shake 0.5s;
}

/* makes it wobble when you click/poke it so it makes to user feel powerful */
@keyframes shake {
    0% { transform: scale(1.4) translate(1px, 1px) rotate(0deg); }
    20% { transform:scale(1.4) translate(-3px, 0px) rotate(1deg); }
    40% { transform:scale(1.4) translate(1px, -1px) rotate(1deg); }
    60% { transform:scale(1.4) translate(-3px, 1px) rotate(0deg); }
    80% { transform:scale(1.4) translate(-1px, -1px) rotate(1deg); }
    100% { transform:scale(1.4) translate(1px, -2px) rotate(-1deg); }
}

#game-stats{
  color: white;
}

#currentTotal {
  width:200px;
  height:50px;
  border:1px solid white;
  text-align: center;
  font-size: 48px;
  color: white;
  margin: auto;
}

.button {
  width:200px;
  height:40px;
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:1px solid white;
  cursor:pointer;
  color: white;
}
