body{
  background: url("../img/coffee_bean_bkrd.jpg");
  background-size: cover;
}

header{
  display: flex;
  height: 250px;
  font-family: "Fredoka One", serif;
  font-size: 90px;
  color: white;
  align-items: center;
  justify-content: center;
}

header div {
  background-color: rgba(240,128,128, 0.5);
  padding: 40px;
  border-radius: 30px;
  text-align: center;
}

main{
  display: grid;
  grid-template-columns: auto 450px auto;
}

@media (max-width: 665px) {
  main{
    grid-template-columns: 1fr;
  }
  header{
    font-size: 60px;
  }
}

section{
  display: flex;
  justify-content: center;
}

#holy {
  border: 4px solid red;
  width: 400px;
  height: 400px;
}

#shine {
  animation: rotation 10s infinite linear;
  width: 400px;
  height: 400px;
}

#counter_shine {
    animation: rotation 10s infinite linear;
    animation-direction: reverse;
    width: 100%;
    position: relative;
    top: -380px;
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}
